.sidebar-menu-item .item-icon{
    position: relative;
}


.sidebar-menu-item .item-icon span.icon{
    z-index: 1;

}

.sidebar-menu-item .item-icon span.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(40deg, rgb(0, 81, 255), rgb(195, 230, 250));
    color: white;
    box-shadow: 2px 2px 15px rgba(13, 57, 250, 0.342);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    opacity: 0;
}
.sidebar-menu-item h4.title{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.sidebar-menu-item:hover span.bg{
    opacity: 1;
}
.sidebar-menu-item:hover span.icon{
    color: white;
}

.sidebar-menu-item.active span.bg{
    background:linear-gradient(40deg, rgb(0, 81, 255), rgb(195, 230, 250));
    color: white;
    box-shadow: 2px 2px 15px rgba(13, 57, 250, 0.342);
    opacity: 1;
}
.sidebar-menu-item.active span.icon{
    color: white;
}


