@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------------------
    Import persian Fonts
---------------------------*/
@import url('./fontface.css');


body {
  margin: 0;
  direction: rtl;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 
}
