*{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

/* Tailwind Breakpoint Lg  */
@media (min-width: 768px) { 

 }